# python basic

In [5]:
#data printing

In [6]:
print("My learning")

My learning

In [7]:
print('My learning with single qout')

My learning with single qout

In [8]:
a=5
type(a)

int

In [9]:
compl=2+7j
type(compl)

complex

In [11]:
flt_no=5.66
print('my data type is:',type(flt_no))

my data type is: <class 'float'>

In [12]:
#basic arthimatic operaations

a=5
b=2.5
mul=a*b
print(mul)

#power of a number
mul2=2**3
print(mul2)

In [17]:
#divide operation
a=7
b=8.4
div=a/b
print(div)

0.8333333333333333

In [20]:
#divide with round value
a=7
b=2
div=a//b
print(div)

3

In [23]:
#reminder of a value
a=11
result=a%2
result

1

In [25]:
#addition of a number
a=5
b=6
add=a+b
print(add)
add1=a++b
print(add1)

11
11

In [27]:
#subtraction of a numbers
a=8
b=9.5
res=a-b
print(res,'type of variable',type(res))

-1.5 type of variable <class 'float'>

In [32]:
#string operration
myname='tajummal'
print(myname)

#string concatination
mysecondname='hussain'
myfullname=myname+mysecondname
print(myfullname)

tajummal
tajummalhussain

In [48]:
#logical operators
# &,|
a=True
b=True
c=False
print(a&b)
print(a|b)
print(c&b)

True
True
False

In [55]:
#geting data from user
get_data=input('Enter Your Name')
print ('you enter:',get_data)
print(type(get_data))

Enter Your Nametajummal hussain
you enter: tajummal hussain
<class 'str'>

In [54]:
#multiline String using """ triple qoutes"""
str ="""tajummal
abbass
mughal
"""
print(str)

tajummal
abbass
mughal

In [72]:
#string manipulation
a="tajummal hussain"
#getting first char from a
print(a[0])

#getting last char from a
print(a[-1])

#getting substring from a
print(a[:5])
print(a[0:5])
print(a[1:5])

#getting length of string
print(len(a))

#get lower case string
print(a.lower())

#get upper case string
print(a.upper())

#char replace in a string
print(a.replace('a','u'))

#count char or string in a string
print(a.count('a'))

#finding index of a char or sub string
print(a.find('j'))

#splitting of string using split criteria
print(a.split(' '))

t
n
tajum
tajum
ajum
16
tajummal hussain
TAJUMMAL HUSSAIN
tujummul hussuin
3
2
['tajummal', 'hussain']

# Data Structures in PYTHON
### Tuple, Lists, Dictionary, Sets

In [73]:
#Tuple : order lolection of data, enclosed within round (), immutable

In [84]:
#tuple can store multidata type
tup=('a',1,True)
tup1=('str',8,True)
print(tup)
print(type(tup))

#extracting first element in tuple
print(tup[0])

#extracting last element
print (tup[-1])

#extracting samples
print(tup[:2])

#extracting length
print(len(tup))

#tuples contatination
print(tup+tup1)

#repeatition of tuple
print(tup*2)

#find minimum and maximum values in tuple
tup2=(5,7,8,6)
print(tup2,min(tup2),max(tup2))

('a', 1, True)
<class 'tuple'>
a
True
('a', 1)
3
('a', 1, True, 'str', 8, True)
('a', 1, True, 'a', 1, True)
(5, 7, 8, 6) 5 8

# Lists
data strtructure
list:order collection of data 
enclosed in square braces []
mutable:changeable data

In [99]:
lis=[1,'tajummal',24,True]
print(lis)
print(type(lis))

#extract ist and last element
print(lis[0],lis[-1])

#length of a List
print(len(lis))

#append new data in list
lis.append('Islamabad')
print(lis)

#pop from the list
print(lis)
lis.pop()
print(lis)

#update value in a list
print(lis)
lis[0]=100
print(lis)

#reverse elements in a list
lis.reverse()
print(lis)

#sort elements in a list
lis1=[5,45,78,0,154,45]
lis1.sort()
print(lis1)

#insert elements in a list on specific location
print(lis1)
lis1.insert(3,555)
print(lis1) 

#list concatinatin
print(lis+lis1)

#repeating list elements
print(lis1*3)

[1, 'tajummal', 24, True]
<class 'list'>
1 True
4
[1, 'tajummal', 24, True, 'Islamabad']
[1, 'tajummal', 24, True, 'Islamabad']
[1, 'tajummal', 24, True]
[1, 'tajummal', 24, True]
[100, 'tajummal', 24, True]
[True, 24, 'tajummal', 100]
[0, 5, 45, 45, 78, 154]
[0, 5, 45, 45, 78, 154]
[0, 5, 45, 555, 45, 78, 154]
[True, 24, 'tajummal', 100, 0, 5, 45, 555, 45, 78, 154]
[0, 5, 45, 555, 45, 78, 154, 0, 5, 45, 555, 45, 78, 154, 0, 5, 45, 555, 45, 78, 154]

# Dictionary
unondered collection of key-value pair, 
inclosed in curly braces {}, 
mutable:changeable

In [111]:
#creating a dictionary (key-value)pair
dic={0:'Tajummal',1:'Ali',2:'Hussain'}
print(dic)

#just printing the keys
print(dic.keys())

#just printing the values
print(dic.values())

#update value using key key in []
dic[0]='Salman'
print(dic)

#adding new entry in dictionary
dic[3]='Hassan'
print(dic)

#appending 2 dictionarie
dic1={5:'kaka',6:'Mughal'}
dic.update(dic1)
print(dic)

#pop/delected entry using key
dic.pop(3)
print(dic)

{0: 'Tajummal', 1: 'Ali', 2: 'Hussain'}
dict_keys([0, 1, 2])
dict_values(['Tajummal', 'Ali', 'Hussain'])
{0: 'Salman', 1: 'Ali', 2: 'Hussain'}
{0: 'Salman', 1: 'Ali', 2: 'Hussain', 3: 'Hassan'}
{0: 'Salman', 1: 'Ali', 2: 'Hussain', 3: 'Hassan', 5: 'kaka', 6: 'Mughal'}
{0: 'Salman', 1: 'Ali', 2: 'Hussain', 5: 'kaka', 6: 'Mughal'}

# Sets
### unodered and unindex collection of data, enclosed in curly braces,duplication not allowed,

In [124]:
#creating set
s1={1,5,6}
print(s1)

#adding new single element, data stored in random order
s1.add(54)
print(s1)

#update set, adding multiple values in set use square [] braces inside small braces
s1.update([88,24,96,74])
print(s1)

#remove element in a set
s1.remove(54)
print(s1)

#union of 2 sets
s2={1,3,4,6,5,9}
s3={3,2,7,0,9,5,78}
print(s2,s3)
print(s2.union(s3))

#intersection of 2 sets
print(s2.intersection(s3))

{1, 5, 6}
{54, 1, 5, 6}
{96, 1, 5, 6, 74, 54, 88, 24}
{96, 1, 5, 6, 74, 88, 24}
{1, 3, 4, 5, 6, 9} {0, 2, 3, 5, 7, 9, 78}
{0, 1, 2, 3, 4, 5, 6, 7, 9, 78}
{9, 3, 5}