# Python Learning 3


# Task 1:If-Else Implementation

In [1]:
a=5
b=2
if(a>b):
    print('a is greater than b')
elif(a<b):
    print('a is less than b ')
else:
    print('a and b are equal')

a is greater than b

# Task 2:If-Else with User Input

In [4]:
a=int(input('Enter value of a :'))
b=int(input('Enter value of b :'))
if(a>b):
    print('a is greater than b')
elif(a<b):
    print('a is less than b ')
else:
    print('a and b are equal')

Enter value of a :5
Enter value of b :5
a and b are equal

# Task 3: For Loop Implementation over string

In [11]:
print("Implementing for loop :")
for i in "PYTHON":
    print(i)
print("\n\nRemoving Newline from print statement : ")
for i in "PYTHON":
    print(i,end='')
print("\n\nAdding different characters/symbol in print statement : ")
for i in "PYTHON":
    print(i,end='*')

Implementing for loop :
P
Y
T
H
O
N


Removing Newline from print statement :
PYTHON

Adding different characters/symbol in print statement :
P*Y*T*H*O*N*

# Task 4: For Loop implmention over Lists

In [12]:
list=[1,4,5,6,8]
print("Implementing for loop with list :")
for i in list:
    print(i)
print("\n\nRemoving Newline from print statement : ")
for i in list:
    print(i,end='')
print("\n\nAdding different characters/symbol in print statement : ")
for i in list:
    print(i,end=',')

Implementing for loop with list :
1
4
5
6
8


Removing Newline from print statement :
14568

Adding different characters/symbol in print statement :
1,4,5,6,8,

# Task 5:For Loop implmention with range function

In [14]:
print("Print counting 1-10 by using for loop")
for i in range(1,11):
        print(i)
#steps size =2
print("\nChanging stepsize to 3")
for i in range(1,11,3):
        print(i)

Print counting 1-10 by using for loop
1
2
3
4
5
6
7
8
9
10

Changing stepsize to 3
1
4
7
10

# Task 6: Table printing using For loop

In [25]:
a=int(input('Enter the number for which you want to print table : '))
for i in range(1,11):
    print(a," x ",i," = ",a*i)

Enter the number for which you want to print table : 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40

# Task 7:For Loop implmention with Dictionaries

In [15]:
#print keys
mydict={ "Artifical" : "made or produced by human beings rather than occurring naturally, especially as a copy of something natural",
 "Intelligence" : "the ability to acquire and apply knowledge and skills.",
 2021:"The current year"
}
for i in mydict:
    print(i)

Artifical
Intelligence
2021

# Task 8

In [29]:
#print values
mydict={ "Artifical" : "made or produced by human beings rather than occurring naturally, especially as a copy of something natural",
 "Intelligence" : "the ability to acquire and apply knowledge and skills.",
 2021:"The current year"
}
for i in mydict:
    print(mydict[i])

made or produced by human beings rather than occurring naturally, especially as a copy of something natural
the ability to acquire and apply knowledge and skills.
The current year

# Task 9

In [20]:
#print complete dictionary
mydict={ "Artifical" : "made or produced by human beings rather than occurring naturally, especially as a copy of something natural",
 "Intelligence" : "the ability to acquire and apply knowledge and skills.",
 2021:"The current year"
}
for i in mydict:
    print(i," : ",mydict[i])

Artifical  :  made or produced by human beings rather than occurring naturally, especially as a copy of something natural
Intelligence  :  the ability to acquire and apply knowledge and skills.
2021  :  The current year

# Task 10

In [1]:
for i in range(1,101):
    if(i%2==0):
        print(i,end=",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

# Task 11

In [4]:
count =0
for i in range(1,101,5):
    if(i%2==0):
        print(i,end=",")
        count=count+1
print("\nNo. of even numbers in the given range are : ",count)

6,16,26,36,46,56,66,76,86,96,
No. of even numbers in the given range are :  10

# Task 12

In [2]:
lis=[]
for i in range(1,11):
    a=int(input("Enter the element : "))
    lis.append(a)
print(lis)

Enter the element : 1
Enter the element : 2
Enter the element : 3
Enter the element : 4
Enter the element : 5
Enter the element : 6
Enter the element : 7
Enter the element : 8
Enter the element : 9
Enter the element : 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Task 13: While Loop Implmentation

In [22]:
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

# Task 14: Find Maximum value in a list using while loop

In [3]:
lis=[]
i=0
j=1
while (i<10):
    a=int(input("Enter the element : "))
    lis.append(a)
    i=i+1
maxi=lis[0]
while (j<10):
    if(maxi<lis[j]):
        maxi=lis[j]
    j=j+1
print("The greatest number amongst the list is : ",maxi)

Enter the element : 1
Enter the element : 2
Enter the element : 3
Enter the element : 4
Enter the element : 9
Enter the element : 5
Enter the element : 6
Enter the element : 7
Enter the element : 8
Enter the element : 1
The greatest number amongst the list is :  9

# Task 15:Functions

In [23]:
#def func_name (parameters):
   #return 
def function_name():
    print("function of printing")
    return

In [24]:
function_name()

function of printing

# Task 16

In [25]:
def function_name1(a,b):
    print("Sum",a+b)
    return

In [26]:
function_name1(3,2)

Sum 5

# Task 17:write a function that return sum of 2 numbers

In [27]:
def function_name1(a,b):
    return a+b

In [28]:
function_name1(3,2)

5

# Task 18

In [10]:
function_name1(a=3,b=2)

5

# Task 19

In [32]:
def function_name1(a=1,b=1):
    print("Sum",a+b)
    return

In [33]:
function_name1(a=3)

Sum 4

In [34]:
function_name1(b=4)

Sum 5

# Task 20

In [35]:
#lamda function mean anonymous functions
a=lambda x:x**2
print(a(2))

4

# Task 21

In [22]:
a=lambda x,y:x**y
print(a(2,3))

8

# Task 22

In [41]:
def func(n):
    return lambda n:n*2

In [42]:
a=func(2)
print(a(10))

20